@use "../../../scss/globals" as *;

@mixin button {
  background-color: white;
  border: $borderButtonWidth solid #15537d;
  cursor: pointer;
  margin: (-$borderButtonWidth);

  display: grid;
  align-items: center;
  gap: calc($gridGap/2);
  grid-template-rows: 1fr auto auto;

  p:nth-child(3) {
    font-size: 1.5rem;
  }
}

.Filter {
  margin-top: $gridGap;
  margin-bottom: $gridGap;
  &-Buttons {
    display: flex;
    flex-direction: column;
  }

  &-Button {
    @include button;
    width: auto;

    &_sortBy {
      @include button;
      width: max-content;
      margin: 0;
      margin-left: auto;
      grid-template-rows: repeat(2, 1fr);
    }
    &_isSelected {
      @include button;
      background-color: #15537d;
      color: white;
      width: auto;
    }
  }

  &-DeliveryTime {
    &_title {
      text-align: center;
      padding: $gridGap;
      font-size: 1.4rem;
    }

    &_allButtons {
      display: grid;
      justify-content: center;
      margin-left: $borderButtonWidth;
      margin-right: $borderButtonWidth;

      div {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        justify-content: center;
        width: fit-content;
        padding: $borderButtonWidth 0 $borderButtonWidth 0;
      }
    }
  }

  &-Services {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-column-gap: 5px;
    justify-items: center;
    align-items: center;
    margin-top: $gridGap;
    padding: $borderButtonWidth 0 $borderButtonWidth 0;

    > p {
      grid-column-start: 2;
      font-size: 1.3rem;
    }
  }
}
