@use "../../scss/globals" as *;
@use "sass:map";
@mixin dim {
  background-color: white;
  border-style: none;
  border-radius: $ParcelValuesBorderRadius;
}

.ParcelValues {
  font-family: $font-Lexend;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: -0.1px;
  margin: (-$bodyPadding) 0 (-$bodyPadding) 0;
  padding: $bodyPadding;
  background-color: map.get($LogoColours, 1);
  color: white;

  &-Title {
    padding-bottom: $bodyPadding;
  }

  &-Dimensions {
    display: grid;
    grid-template-columns: auto min-content;
    gap: calc($gridGap / 2);
    align-items: center;

    &_lessThan1Metre {
      @include dim;
      padding: 0;
      //   //   color: $ParcelValuesColour;
      //   //   font-size: 1rem;
      //   //   border-radius: $ParcelValuesBorderRadius;
      //   //   text-align: left;
      //   //   :first-child {
      //   //     font-size: 0.7rem;
      //   //   }
      // }

      &_weight {
        @include dim;
        // width: 1rem;
      }
    }
  }
}
