// th,
// td {
//   padding-right: 15px;
// }

// th,
// td:last-child {
//   padding-right: 0;
// }

@import "../../../scss/globals/variables.scss";

.mediu {
  margin-bottom: $gridGap;
  border: 1px solid black;
  width: calc(50% - $gridGap / 2);
  box-sizing: border-box;
}
