@use "../../scss/globals/" as *;

@mixin dim {
  background-color: white;
  border-style: none;
  border-radius: $borderRadiusParcelValues;
}
$gridGapPV: calc($gridGap / 2);
$paddingUpDown: 3px;

.InputForm {
  background-color: white;
  border-radius: $borderRadiusParcelValues;
  font-family: $font-Lexend;
  width: max-content;
  height: max-content;
  padding: $paddingUpDown $gridGapPV $paddingUpDown $gridGapPV;
  display: grid;

  p:first-child {
    font-size: 0.75rem;
  }

  p:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: flex-end;
  }

  input,
  p {
    @include dim;
    color: $colourParcelValues;
    font-size: 1.2rem;
    font-weight: 300;
  }
  input {
    width: 2.5rem;
    height: auto;
    padding: 0;
    text-align: left;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
