@use "../../../scss/globals" as *;

.TableRow {
  // display: grid;
  // row-gap: $gridGap;
  // grid-template-rows: 1fr;
  // height: min-content;
  // width: 100%;

  tr {
    // width: 100%;
    // width: fit-content;
    // min-width: 100%;

    td {
      // width: 100%;
      // min-width: 100%;
      // display: block;
    }
  }
  &-SingleResult {
    &_content {
      @include media(">SMALL") {
        figure {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
      }
    }

    &_allPrices {
      details > summary {
        list-style-type: "+ ";
      }

      details[open] > summary {
        list-style-type: "- ";
      }

      details {
        border: 1px solid gray;
        border-radius: 0.2rem;
        padding: 0.5rem;
      }

      details[open] > summary {
        margin-bottom: 0.5rem;
      }
    }
  }
}
