@use "../../../scss/globals" as *;

$chevronSize: 0.5rem;
.TableRow {
  &-SingleResult {
    padding: 0.4rem;
    // display: grid;

    img {
      width: 100%;
    }

    &_content {
      figure {
        img {
          float: left;
          max-width: 4rem;
          margin-right: 0.4rem;
        }

        figcaption {
        }
      }
    }

    &_allPrices {
      > p {
        background-color: rgb(241, 248, 234);
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;

        > span figure {
          display: grid;
          align-items: center;
          grid-template-columns: min-content 120px;
          gap: $gridGap;
        }

        figcaption {
          font-size: 1.45rem;
        }

        a {
          display: grid;
          align-items: center;
          text-decoration: none;

          button {
            cursor: pointer;
            border: 0;
            border-radius: $ParcelValuesBorderRadius;
            background-color: #03aa5b;
            font-size: 0.8rem;
            font-weight: 500;
            font-family: $font-Lexend;
            color: white;
            padding: 0.4rem;
            margin-left: $gridGap;
            max-width: max-content;
            justify-self: end;
          }
        }
      }

      details summary {
        cursor: pointer;
      }
      summary,
      summary:after {
        display: grid;
        grid-template-columns: 1fr min-content;
        align-items: center;
      }

      summary:after {
        display: grid;
        justify-content: center;
        align-items: center;
        content: "";
        width: $chevronSize;
        height: $chevronSize;
        border-right: 0.2rem solid black;
        border-top: 0.2rem solid black;
        transform: rotate(135deg);
        margin-right: $chevronSize;
        margin-top: -$chevronSize;
      }

      details[open] summary::after {
        content: "";
        display: grid;
        justify-content: center;
        align-items: center;
        width: $chevronSize;
        height: $chevronSize;
        border-right: 0.2rem solid black;
        border-top: 0.2rem solid black;
        transform: rotate(-45deg);
        margin-right: $chevronSize;
        margin-top: $chevronSize;
      }

      details summary::marker,
      details summary::-webkit-details-marker {
        content: "";
        display: none;
      }
    }
    &_price {
      li:not(:last-child) {
        padding-bottom: calc($gridGap / 2);
      }

      li {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;

        // gap: $gridGap;

        > span figure {
          display: grid;
          align-items: center;
          grid-template-columns: min-content 120px;
          gap: $gridGap;

          figcaption {
            font-size: 1.45rem;
          }
        }

        a button {
          cursor: pointer;
          border: 0;
          border-radius: $ParcelValuesBorderRadius;
          background-color: #03aa5b;
          font-size: 0.8rem;
          font-weight: 500;
          font-family: $font-Lexend;
          color: white;
          padding: 0.4rem;
          margin-left: $gridGap;
          max-width: max-content;
          justify-self: end;
        }
      }
    }
  }
}

.parcelMonkeyBC {
  background-color: $parcelMonkeyBC;
}
