@use "scss/globals/" as *;

.Header {
  display: grid;
  padding-bottom: 1rem;
  &-Logo {
    text-align: center;
    font-size: 2.8rem;
    padding: 1rem;
    @each $number, $color in $coloursLogo {
      span:nth-child(#{$number}) {
        font-weight: 800;
        font-family: $font-Lexend;
        color: $color;
      }
    }

    @include media(">=MEDIUM") {
      padding-left: 0;
      font-size: 4rem;
    }
  }

  @include media(">=MEDIUM") {
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
  }

  &-Slogan {
    font-size: 1.4rem;
    font-family: $font-RobotoSlab;
    text-align: center;

    h1 {
      font-weight: 700;
    }
    p {
      font-weight: 200;
    }

    @include media(">SMALL") {
      font-size: 1.6rem;
    }

    @include media(">=MEDIUM") {
      text-align: left;
      padding-left: 1rem;
    }
  }
}
