@use "../../scss/style.scss";
$colours: (
  1: #1391d2,
  2: #fc9e15,
  3: #e3403d,
);

.Header {
  display: grid;

  &-Logo {
    text-align: center;
    font-size: 2.8rem;
    padding: 1rem;
    @each $number, $color in $colours {
      span:nth-child(#{$number}) {
        font-weight: 800;
        font-family: style.$font-Lexend;
        color: $color;
      }
    }

    @include style.media(">=LARGE") {
      padding-left: 0;
    }
  }

  @include style.media(">=LARGE") {
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
  }

  &-Slogan {
    font-size: 1.4rem;
    font-family: style.$font-RobotoSlab;
    text-align: center;

    h1 {
      font-weight: 700;
    }
    p {
      font-weight: 200;
    }
    @include style.media(">SMALL") {
      font-size: 1.6rem;
    }

    @include style.media(">=LARGE") {
      text-align: left;
      padding-left: 1rem;
    }
  }
}
