@use "scss/globals/" as *;

.Table {
  border-collapse: separate;
  border-spacing: $gridGap;
  table-layout: fixed;
  width: calc(100% + calc($gridGap * 2));
  font-size: 1.4rem;
  margin: 0 (-$gridGap) 0 (-$gridGap);
  padding: 0;

  th,
  td {
    border: 1px solid rgb(24, 24, 24, 0.4);
  }
}
