@use "globals" as *;
@forward "globals";

body {
  font-size: 1.5rem;
  padding: 0 $bodyPadding 0 $bodyPadding;
  @include media(">MEDIUM") {
    padding: 0 ($bodyPadding * 2) 0 ($bodyPadding * 2);
  }
}
