@import "../../scss/globals/variables.scss";

.Results {
  &-FilterButtons {
    &_isSelected {
      background-color: darkgray;
    }
  }

  &-Table {
    &_th {
      // margin: 0 auto;
    }

    &_isMedium {
      display: flex;
      flex-wrap: wrap;
      column-gap: $gridGap;
      height: -webkit-fill-available;
      width: -webkit-fill-available;
      align-content: flex-start;
    }
  }
}
