:root {
  --background-color: white;
  --text-color: black;
}

$parcelMonkeyBC: #3a0256;
$coloursLogo: (
  1: #1391d2,
  2: #fc9e15,
  3: #e3403d,
);
$colourParcelValues: #322c2c;
$color-dark: #2b1b1b;
$color-light: #eeeded;
